name: ci
on:
  workflow_dispatch:
  push:
jobs:
  ci:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      checks: write
      id-token: write
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 21

      - uses: gradle/actions/setup-gradle@v4

      - uses: docker/setup-buildx-action@v3

      - run: ./gradlew check

      - name: Publish Test Report
        uses: mikepenz/action-junit-report@v5
        if: always()
        with:
          report_paths: "**/build/test-results/test/TEST-*.xml"

      - run: ./gradlew shadowJar
      - run: ./gradlew dockerBuildProperties
      - run: cat build/build.properties

      - name: Build container
        uses: docker/build-push-action@v6
        with:
          context: .
          load: true
          tags: europe-north2-docker.pkg.dev/foreningenbs/fbs-docker/users-api:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - run: scripts/docker-test-image.sh europe-north2-docker.pkg.dev/foreningenbs/fbs-docker/users-api:latest

      - id: gcp-auth
        if: github.ref == 'refs/heads/master'
        name: Authenticate with Google Cloud
        uses: google-github-actions/auth@v3
        with:
          token_format: access_token
          workload_identity_provider: projects/277979591283/locations/global/workloadIdentityPools/github/providers/github
          service_account: github-actions@foreningenbs.iam.gserviceaccount.com
          access_token_lifetime: 300s

      - name: Login to Artifact Registry
        if: github.ref == 'refs/heads/master'
        uses: docker/login-action@v3
        with:
          registry: europe-north2-docker.pkg.dev
          username: oauth2accesstoken
          password: ${{ steps.gcp-auth.outputs.access_token }}

      - name: Push container
        if: github.ref == 'refs/heads/master'
        id: docker_build
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: europe-north2-docker.pkg.dev/foreningenbs/fbs-docker/users-api:latest

      - name: Deploy
        if: github.ref == 'refs/heads/master'
        run: |
          curl --fail -L -i -H "authorization: bearer $DEPLOYER_TOKEN" -H "content-type: application/json" -X POST https://deployer.foreningenbs.no/deploy -d '
          {
            "service": "users-api",
            "attributes": {
              "image": "europe-north2-docker.pkg.dev/foreningenbs/fbs-docker/users-api@${{ steps.docker_build.outputs.digest }}"
            }
          }'
        env:
          DEPLOYER_TOKEN: ${{ secrets.DEPLOYER_TOKEN }}
